/* Body styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ensure the body takes at least the full height of the viewport */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Navbar styling */
nav {
    background: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styling */
main {
    flex-grow: 1;  /* Ensures the main content takes up available space */
    padding-bottom: 200px; /* This is what keeps the footer at the bottom of the page. MUST BE THE SAME AS THE FOOTER*/ 
    text-align: center;
}

section {
    margin: 2rem;
}

h1, h2 {
    color: #333;
}

p {
    color: #555;
}

/* Footer styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 40px;      /* Keeps text in the center */
    margin-top: 190px;  /* Margin from the top */
    height: 130px;      /* Height of footer */
    width: 100%;
}
